@use "@angular/material" as mat;

@mixin ww-settings-component-theme-common($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);
}

@mixin ww-settings-component-theme-dark($theme) {
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  $background: lighten(
    mat.get-color-from-palette($background-palette, background),
    10%
  );
  $foreground: mat.get-color-from-palette($foreground-palette, base);

  .settings-container {
    background-color: $background;
    .mdc-checkbox__background {
      border-color: $foreground !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    input,
    mat-label,
    span {
      color: $foreground;
    }

    .mat-mdc-select-arrow,
    mat-label {
      color: $foreground !important;
    }
  }
}

@mixin ww-settings-component-theme-light($theme) {
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  $background: darken(
    mat.get-color-from-palette($background-palette, background),
    10%
  );
  $foreground: lighten(
    mat.get-color-from-palette($foreground-palette, base),
    20%
  );

  .settings-container {
    background-color: $background;
    .mdc-checkbox__background {
      border-color: $foreground !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    input,
    mat-label,
    span {
      color: $foreground;
    }

    .mat-mdc-select-arrow,
    mat-label {
      color: $foreground !important;
    }
  }
}
