@use "@angular/material" as mat;
@use "sass:map";

// Placeholder mixin for future common theming.
@mixin ww-settings-component-theme-common($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $accent: map.get($color-config, "accent");
  $warn: map.get($color-config, "warn");
  $background-palette: map.get($color-config, "background");
  $foreground-palette: map.get($color-config, "foreground");
}

@mixin ww-settings-component-theme-dark($theme) {
  $color-config: mat.get-color-config($theme);
  $background-palette: map.get($color-config, "background");
  $foreground-palette: map.get($color-config, "foreground");

  $background: lighten(
    mat.get-color-from-palette($background-palette, "background"),
    10%
  );
  $foreground: mat.get-color-from-palette($foreground-palette, "base");

  .settings-container {
    background-color: $background;
    .mdc-checkbox__background {
      border-color: $foreground !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    input,
    span {
      color: $foreground;
    }

    .mat-mdc-select-arrow,
    .mdc-floating-label {
      color: $foreground !important;
    }
  }
}

@mixin ww-settings-component-theme-light($theme) {
  $color-config: mat.get-color-config($theme);
  $background-palette: map.get($color-config, "background");
  $foreground-palette: map.get($color-config, "foreground");

  $background: darken(
    mat.get-color-from-palette($background-palette, "background"),
    10%
  );
  $foreground: lighten(
    mat.get-color-from-palette($foreground-palette, "base"),
    20%
  );

  .settings-container {
    background-color: $background;
    .mdc-checkbox__background {
      border-color: $foreground !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    input,
    span {
      color: $foreground;
    }

    .mat-mdc-select-arrow,
    .mdc-floating-label {
      color: $foreground !important;
    }
  }
}
