@if (settings$ | async; as settings) {
<div class="panel">
  <div class="panel__header__container">
    @if (showToolbar) {
    <div class="panel__header panel__header--tableview">
      <h5 #header class="panel__title">
        {{ "ww.pages.tableviewer.panels.conj.title" | translate }}
      </h5>
      @if (selection$ | async; as selection) {
      <div class="panel__toolbar toolbar">
        @if (loading$ | async) {
        <mat-spinner
          class="panel__toolbar__spinner"
          [color]="'accent'"
          [diameter]="20"
        >
        </mat-spinner>
        }
        <button
          #conjugate
          (click)="onManualConjugation($event)"
          class="conjugate mat-accent"
          mat-raised-button
        >
          {{ "ww.pages.tableviewer.panels.conj.conjugate" | translate }}
        </button>
        <!-- TODO: The 'tickInterval' property no longer exists -->
        @if (selection.view === 'tree') {
        <mat-slider
          [matTooltip]="
            'ww.pages.tableviewer.panels.conj.depth-tip' | translate
          "
          [matTooltipShowDelay]="showDelay.value"
          [matTooltipHideDelay]="hideDelay.value"
          [matTooltipPosition]="tooltipPosition"
          step="1"
          min="0"
          max="3"
          #ngSlider
          ><input
            matSliderThumb
            (change)="
              onChangeTreeDepth({
                source: ngSliderThumb,
                parent: ngSlider,
                value: ngSliderThumb.value
              })
            "
            #ngSliderThumb="matSliderThumb"
            value="1"
        /></mat-slider>
        } @if (selection.view === 'tree') {
        <button
          class="toolbar__tool ui-button"
          mat-icon-button
          (click)="onToggleTreeOrder()"
          [matTooltip]="
            'ww.pages.tableviewer.panels.conj.order-tip' | translate
          "
          [matTooltipShowDelay]="showDelay.value"
          [matTooltipHideDelay]="hideDelay.value"
          [matTooltipPosition]="tooltipPosition"
        >
          <mat-icon aria-label="Switch pronoun and temp">swap_horiz</mat-icon>
        </button>
        } @if (selection.view === 'grid') {
        <button
          class="toolbar__tool ui-button"
          mat-icon-button
          (click)="
            onSwapGridOrder(selection.gridOrder.row, selection.gridOrder.col)
          "
          [matTooltip]="
            'ww.pages.tableviewer.panels.conj.grid-order-tip' | translate
          "
          [matTooltipShowDelay]="showDelay.value"
          [matTooltipHideDelay]="hideDelay.value"
          [matTooltipPosition]="tooltipPosition"
        >
          <mat-icon aria-label="Switch rows and columns">swap_horiz</mat-icon>
        </button>
        }
        <button
          class="ui-button toolbar__tool"
          mat-icon-button
          [matTooltip]="
            'ww.pages.tableviewer.panels.conj.copy-link-tip' | translate
          "
          [matTooltipShowDelay]="showDelay.value"
          [matTooltipHideDelay]="hideDelay.value"
          [matTooltipPosition]="tooltipPosition"
          (click)="copyLink()"
        >
          <mat-icon aria-label="Copy link">link</mat-icon>
        </button>
        @if (selection.view !== 'tree') {
        <button
          (click)="download()"
          class="ui-button toolbar__tool"
          mat-icon-button
          [matTooltip]="
            'ww.pages.tableviewer.panels.conj.download-tip' | translate
          "
          [matTooltipShowDelay]="showDelay.value"
          [matTooltipHideDelay]="hideDelay.value"
          [matTooltipPosition]="tooltipPosition"
        >
          <mat-icon aria-label="Download conjugations">get_app</mat-icon>
        </button>
        }
        <button
          (click)="showSettings()"
          class="ui-button toolbar__tool"
          mat-icon-button
          [matTooltip]="
            'ww.pages.tableviewer.panels.conj.show-settings' | translate
          "
          [matTooltipShowDelay]="showDelay.value"
          [matTooltipHideDelay]="hideDelay.value"
          [matTooltipPosition]="tooltipPosition"
        >
          <mat-icon aria-label="Show setting">more_horiz</mat-icon>
        </button>
      </div>
      }
    </div>
    }
  </div>
  @if (selection$ | async; as selection) {
  <div>
    <div>
      @if (!selection.loading && selection.conjugations.length === 0) {
      <h4
        class="desktop-only center-text margin-top-50 padding-20"
        [ngClass]="routeAnimationsElements"
        [innerHTML]="
          'ww.pages.tableviewer.panels.conj.instructions' | translate
        "
      ></h4>
      } @if (!selection.loading && selection.conjugations.length === 0) {
      <h3
        class="mobile-only padding-15 center-text"
        [innerHTML]="
          'ww.pages.tableviewer.panels.conj.instructions-mobile' | translate
        "
      ></h3>
      }
    </div>
    <!-- Tree View -->
    <div class="panel__tree__container">
      @if (selection.view === 'tree' && selection.conjugations.length > 0) {
      <div [hidden]="selection.view !== 'tree'" class="full-width full-height">
        <ww-conjugation-tree [data$]="treeData$"></ww-conjugation-tree>
      </div>
      }
    </div>
    <!-- Grid View  -->
    @if (selection.view === 'grid' && selection.conjugations.length > 0) {
    <div [hidden]="selection.view !== 'grid'" class="grid__container">
      <ww-conjugation-grid [data$]="gridData$"></ww-conjugation-grid>
    </div>
    }
    <!-- List View -->
    @if (selection.view === 'list' && selection.conjugations.length > 0) {
    <div
      [hidden]="selection.view !== 'list'"
      class="list__container custom-scroll-y full-width full-height"
    >
      <ww-conjugation-list [data$]="listData$"></ww-conjugation-list>
    </div>
    }
  </div>
  }
</div>
}
