<div class="container page__content vwidth-90 centered margin-bottom-50">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>{{
          verbLabel | async | translate
        }}</ng-template>
        <div class="step-container">
          @if (stepper.selectedIndex === 0) {
          <ww-wordmaker-verb-step
            (selectedVerb)="onVerbSelect($event)"
          ></ww-wordmaker-verb-step>
          } @else {
          <ng-template [ngTemplateOutlet]="loading"></ng-template>
          }
        </div>
        <div class="margin-top-30">
          <button
            mat-raised-button
            class="mat-accent float-right"
            matStepperNext
          >
            {{ "ww.pages.wordmaker.common.next" | translate }}
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>{{
          persLabel | async | translate
        }}</ng-template>
        @if (stepper.selectedIndex === 1) {
        <ww-wordmaker-pers-step
          (selectedAgent)="onAgentSelect($event)"
          (selectedPatient)="onPatientSelect($event)"
        ></ww-wordmaker-pers-step>
        } @else {
        <ng-template [ngTemplateOutlet]="loading"></ng-template>
        }
        <div class="margin-top-30">
          <button
            mat-raised-button
            class="mat-accent float-left"
            matStepperPrevious
          >
            {{ "ww.pages.wordmaker.common.previous" | translate }}
          </button>
          <button
            mat-raised-button
            class="mat-accent float-right"
            matStepperNext
          >
            {{ "ww.pages.wordmaker.common.next" | translate }}
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>{{
          tempLabel | async | translate
        }}</ng-template>
        @if (stepper.selectedIndex === 2) {
        <ww-wordmaker-temp-step
          (selectedTemp)="onTempSelect($event)"
        ></ww-wordmaker-temp-step>
        } @else {
        <ng-template [ngTemplateOutlet]="loading"></ng-template>
        }
        <div class="margin-top-30">
          <button
            mat-raised-button
            class="mat-accent float-left"
            matStepperPrevious
          >
            {{ "ww.pages.wordmaker.common.previous" | translate }}
          </button>
          <button
            mat-raised-button
            class="mat-accent float-right"
            matStepperNext
          >
            {{ "ww.pages.wordmaker.common.next" | translate }}
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{
        "ww.pages.wordmaker.steps.conj.finished" | translate
      }}</ng-template>
      @if (stepper.selectedIndex === 3) {
      <ww-wordmaker-conj-step></ww-wordmaker-conj-step>
      } @else {
      <ng-template [ngTemplateOutlet]="loading"></ng-template>
      }
      <div class="margin-top-30">
        <button
          mat-raised-button
          class="mat-accent float-left"
          matStepperPrevious
        >
          {{ "ww.pages.wordmaker.common.previous" | translate }}
        </button>
        <button
          mat-raised-button
          class="mat-accent float-right"
          (click)="stepper.reset()"
        >
          {{ "ww.pages.wordmaker.common.restart" | translate }}
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
