@use "../utilities/colors";
@use "../utilities/typography";
@use "../utilities/mixins";
@use "../utilities/config";

@viewport {
  width: device-width;
}

html {
  background-color: colors.$color-background;
  box-sizing: border-box;
  height: 100%;
}

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  color: colors.$color-text;
  font-family: typography.$font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  color: colors.$color-link;
  text-decoration: none;
  transition: color 0.2s;
  outline: none;
  &:active,
  &:focus {
    outline: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-family-display;
  font-family: typography.$font-family-accent;
  font-weight: normal;
  @include mixins.colors(colors.$ui-colors);
  @include mixins.colors(colors.$verb-highlight-colors);
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
p,
mat-chip,
mat-tab-label,
span,
button,
a {
  font-family: typography.$font-family-display;
}

.shadow-box {
  box-shadow: 0 0.3125rem 1rem 0 rgba(0, 0, 0, 0.24);
  padding: 25px;
  background: rgba(255, 255, 255, 0.94);
  border-radius: 5px;
}

// Colors
@for $i from 1 through length(colors.$other-highlights) {
  .highlight-#{$i} {
    color: map-get(colors.$other-highlights, $i);
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
span,
p,
mat-chip,
mat-button-toggle,
button,
mat-icon {
  @include mixins.colors(colors.$ui-colors);
  @include mixins.colors(colors.$verb-highlight-color-names);
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
div,
nav,
button,
mat-chip,
mat-toolbar,
mat-grid-tile {
  @include mixins.bg-colors(colors.$ui-colors);
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
div,
mat-chip,
mat-button-toggle,
button {
  @include mixins.bg-colors(colors.$verb-highlight-color-names);
}

@each $name, $value in typography.$font-sizes {
  .font-#{$name} {
    font-size: em($value);
  }
}

.faded {
  opacity: 0.2;
  color: black;
}

table {
  table-layout: fixed;
}

.container {
  max-width: em(map-get(config.$breakpoints, xlarge));
}
