table {
  width: 100%;
}

.table__container {
  width: 934px;
  overflow: auto;
  max-height: 520px;
  min-height: 100%;
}

.mat-mdc-paginator {
  position: absolute;
  bottom: 0;
  width: 100%;
}

th,
td,
th.mat-mdc-header-cell {
  width: 150px;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.mat-mdc-tab-group {
  height: 530px;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-body-wrapper {
  height: 100%;
}
