table {
  width: 100%;
}

.table__container {
  width: 934px;
  overflow: auto;
  max-height: 520px;
  min-height: 100%;
}

.mat-mdc-paginator {
  position: absolute;
  bottom: 0;
  width: 100%;
}

th,
td,
th.mat-mdc-header-cell {
  width: 150px;
  min-width: 150px;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.mat-mdc-tab-group {
  height: 530px;
}

:host ::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

// Add contrast to the tab's labels.
:host ::ng-deep {
  .mat-mdc-tab.mdc-tab--active {
    .mdc-tab__text-label {
      color: #000000 !important;
      opacity: 1 !important;
      font-weight: 700;
    }

    .mdc-tab__icon {
      color: #000000 !important;
      opacity: 1 !important;
    }
  }

  .mat-mdc-tab:not(.mdc-tab--active) .mdc-tab__text-label {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
  }
}
