// ==========================================================================
// $Custom
// @see ****
// ==========================================================================

// ==========================================================================
// This is where you should add any custom styling to data-supplied, classes
// from the WordWeaver API. Below is are examples relevant to Mohawk and French
// ==========================================================================

// ==================================================
//                Mohawk Highlights
// ==================================================
// Based on:
//
// export interface Highlight {
//  aspect: boolean;
//  "post-aspectual": boolean;
//  pronouns: boolean;
//  required: boolean;
//  temp: boolean;
//  verb: boolean;
// }

@use "sass:map";
@use "sass:color";
@use "@angular/material" as mat;

@mixin ww-custom-highlights-theme-common-moh($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $accent: map.get($color-config, "accent");
  $warn: map.get($color-config, "warn");
  $background-palette: map.get($color-config, "background");
  $foreground-palette: map.get($color-config, "foreground");

  .aspect {
    .aspect.affix {
      color: color.mix(
        mat.get-color-from-palette($foreground-palette, "base"),
        mediumseagreen,
        30%
      );
    }
  }

  .post-aspectual {
    .post_aspectual_suffix.affix {
      color: color.mix(
        mat.get-color-from-palette($foreground-palette, "base"),
        mediumseagreen,
        30%
      );
    }
  }

  .pronouns {
    .pronoun.transitive {
      color: color.mix(
        mat.get-color-from-palette($foreground-palette, "base"),
        mediumpurple,
        30%
      );
    }

    .pronoun.agent {
      color: color.mix(
        mat.get-color-from-palette($foreground-palette, "base"),
        indianred,
        20%
      );
    }

    .pronoun.patient {
      color: color.mix(
        mat.get-color-from-palette($foreground-palette, "base"),
        cornflowerblue,
        30%
      );
    }
  }

  .required {
  }

  .temp {
    .tmp_affix.affix {
      color: color.mix(
        mat.get-color-from-palette($foreground-palette, "base"),
        mediumseagreen,
        30%
      );
    }
  }

  .verb {
    .root {
      color: color.mix(
        mat.get-color-from-palette($foreground-palette, "base"),
        orangered,
        40%
      );
    }
  }
}

// ==================================================
//                French Highlights
// ==================================================
// Based on:
//
// export interface Highlight {
//  root: boolean;
//  ending: boolean;
// }

@mixin ww-custom-highlights-theme-common-fr($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $accent: map.get($color-config, "accent");
  $warn: map.get($color-config, "warn");
  $background-palette: map.get($color-config, "background");
  $foreground-palette: map.get($color-config, "foreground");

  .ending {
    .ending {
      color: color.mix(
        mat.get-color-from-palette($primary, "500-contrast"),
        mat.get-color-from-palette($accent, A100),
        50%
      );
    }
  }

  .root {
    .root {
      color: color.mix(
        mat.get-color-from-palette($foreground-palette, base),
        mat.get-color-from-palette($accent, A100),
        80%
      );
    }
  }
}

// @mixin ww-custom-highlights-theme-light($theme) {
//   $primary: map.get($theme, primary);
//   $accent: map.get($theme, accent);
//   $warn: map.get($theme, warn);
//   $background-palette: map.get($theme, background);
//   $foreground-palette: map.get($theme, foreground);
// }

// @mixin ww-custom-highlights-theme-dark($theme) {
//   $primary: map.get($theme, primary);
//   $accent: map.get($theme, accent);
//   $warn: map.get($theme, warn);
//   $background-palette: map.get($theme, background);
//   $foreground-palette: map.get($theme, foreground);
// }
