@use "@angular/material" as mat;

$ww-purple-gold-theme-primary: mat.define-palette(
  mat.$deep-purple-palette,
  400
);
// $ww-purple-gold-theme-primary: mat.define-palette(mat.$deep-purple-palette, 700, 400, 700);
$ww-purple-gold-theme-accent: mat.define-palette(mat.$amber-palette, 600);
$ww-purple-gold-theme-warn: mat.define-palette(mat.$red-palette, 200);

$ww-purple-gold-theme--light: mat.define-light-theme(
  (
    color: (
      primary: $ww-purple-gold-theme-primary,
      accent: $ww-purple-gold-theme-accent,
      warn: $ww-purple-gold-theme-warn,
    ),
  )
);

$ww-purple-gold-theme--dark: mat.define-dark-theme(
  (
    color: (
      primary: $ww-purple-gold-theme-primary,
      accent: $ww-purple-gold-theme-accent,
      warn: $ww-purple-gold-theme-warn,
    ),
  )
);
