@use "@angular/material" as mat;

$ww-purple-theme--light: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$grey-palette, 200, 500, 300),
      accent: mat.define-palette(mat.$deep-purple-palette, 300),
      warn: mat.define-palette(mat.$deep-orange-palette, 200),
    ),
  )
);

$ww-purple-theme--dark: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$grey-palette, 700, 300, 900),
      accent: mat.define-palette(mat.$deep-purple-palette, 300),
      warn: mat.define-palette(mat.$red-palette, 500),
    ),
  )
);
