<div class="dialog__container">
  <h2 mat-dialog-title>
    {{ "ww.pages.tableviewer.dialog.download.title" | translate }}
  </h2>
  <div mat-dialog-content>
    @if (settings$ | async; as settings) {
    <div class="form-container" [formGroup]="form">
      <mat-form-field class="form-control">
        <mat-label>{{
          "ww.pages.tableviewer.dialog.download.settings.filetype" | translate
        }}</mat-label>
        <mat-select [formControlName]="'ftype'">
          @for (ftype of fileTypes$ | async; track ftype) {
          <mat-option [value]="ftype">
            {{ ftype }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if ( form.controls.ftype.value === 'docx' || form.controls.ftype.value
      === 'latex' ) {
      <mat-form-field class="example-full-width form-control">
        <mat-label>{{
          "ww.pages.tableviewer.dialog.download.settings.heading.title"
            | translate
        }}</mat-label>
        <input [formControlName]="'heading'" matInput />
      </mat-form-field>
      } @if ( form.controls.ftype.value === 'csv' || form.controls.ftype.value
      === 'xlsx' ) {
      <mat-checkbox [formControlName]="'headers'" class="form-control">
        {{
          "ww.pages.tableviewer.dialog.download.settings.headers" | translate
        }}</mat-checkbox
      >
      } @if (objectkeys(settings.level).length > 0) {
      <div class="form-control group">
        <h4>{{ "ww.pages.settings.general.tiers.title" | translate }}</h4>
        <div class="icon-form-field checkboxes">
          @for (key of objectkeys(settings.level); track key) {
          <mat-checkbox
            [checked]="settings.level[key]"
            (change)="onLevelSelect($event, key)"
          >
            {{ "ww.pages.settings.general.tiers." + key | translate }}
          </mat-checkbox>
          }
        </div>
      </div>
      }
    </div>
    }
  </div>

  <mat-dialog-actions>
    @if (selection$ | async; as selection) {
    <div class="centered dialog__buttons__container">
      @if (selection.loading) {
      <mat-spinner></mat-spinner>
      } @if (!selection.loading) {
      <button
        class="mat-raised-button mat-primary dialog__buttons"
        (click)="download()"
        [matTooltip]="'ww.pages.tableviewer.dialog.download.exit' | translate"
        [matTooltipShowDelay]="showDelay.value"
        [matTooltipHideDelay]="hideDelay.value"
        [matTooltipPosition]="tooltipPosition"
      >
        {{ "ww.pages.tableviewer.dialog.download.download" | translate }}
      </button>
      }
      <button
        (click)="exit()"
        class="exit-button dialog__buttons"
        mat-raised-button
        [matTooltip]="'ww.pages.tableviewer.dialog.download.exit' | translate"
        [matTooltipShowDelay]="showDelay.value"
        [matTooltipHideDelay]="hideDelay.value"
        [matTooltipPosition]="tooltipPosition"
      >
        {{ "ww.pages.tableviewer.dialog.download.exit" | translate }}
      </button>
    </div>
    }
  </mat-dialog-actions>
</div>
