@if (lang$ | async) {
<div class="margin-top-20 panel centered full-width">
  <div class="panel__header--small">
    <div class="container">
      <div class="row">
        <br />
      </div>
      <div class="row">
        <br />
      </div>
      <div class="row">
        <div class="instructions col-sm-12">
          <p>{{ "ww.pages.wordmaker.steps.temp.select-temp" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="margin-bottom-50" />
  <div class="panel__content--large">
    <div class="centered">
      @if (displayTier !== 'default') {
      <div
        class="option__container custom-scroll centered pwidth-50--desktop pwidth-100--mobile"
      >
        @if (conjugatedOptions$ | async; as options) {
        <mat-chip-listbox>
          @for (conjugation of options; track conjugation) {
          <mat-chip-option
            (click)="onChipClick(conjugation.input.option)"
            class="bg-white color-black border-accent"
          >
            <ww-tier
              [tier]="returnOptionTierFromName()"
              [data]="conjugation"
            ></ww-tier>
          </mat-chip-option>
          }
        </mat-chip-listbox>
        } @else {
        <mat-spinner class="centered"></mat-spinner>
        }
      </div>
      } @if (displayTier === 'default') {
      <div class="option__container custom-scroll default-container pwidth-100">
        @if (optionService.optionsUseType$() | async) {
        <div class="default-type__container">
          @for (let option of possibleOptionsByType$|async) {
          <div class="default-type">
            <h3>{{ "ww-data.options.types." + option.type | translate }}</h3>
            <mat-chip-listbox>
              @for (opt of option.options; track opt) {
              <mat-chip-option
                (click)="onChipClick(opt.tag)"
                class="bg-white color-black border-accent"
                >{{
                  "ww-data.options.items." + opt.tag | translate
                }}</mat-chip-option
              >
              }
            </mat-chip-listbox>
          </div>
          }
        </div>
        } @if ((optionService.optionsUseType$() | async) === false) {
        <div
          class="option__container custom-scroll centered pwidth-50--desktop pwidth-100--mobile"
        >
          @if (possibleOptions$ | async; as options) {
          <mat-chip-listbox>
            @for (option of options; track option) {
            <mat-chip-option
              (click)="onChipClick(option.tag)"
              class="bg-white color-black border-accent"
              >{{
                "ww-data.options.items." + option.tag | translate
              }}</mat-chip-option
            >
            }
          </mat-chip-listbox>
          } @else {
          <mat-spinner class="centered"></mat-spinner>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
}
