.default-container {
  height: 350px;
  overflow: auto;
}

.default-type {
  margin: 0 50px;
  width: 250px;

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.option__container {
  max-height: 50vh;
}
