@use "sass:map";
@use "../utilities/colors";
@use "../utilities/functions" as fns;

.error {
  &__container {
    margin: fns.em(50);
    border: fns.em(1) solid map.get(colors.$ui-colors, black);
    padding: fns.em(20);
    border-radius: fns.em(5);
    background: map.get(colors.$ui-colors, accent);
  }

  &__header {
    text-decoration: underline;
    color: map.get(colors.$ui-colors, white);
  }

  &__message {
    color: map.get(colors.$ui-colors, white);
  }
}
