@use "sass:map";
@use "../utilities/colors";
@use "../utilities/functions" as fns;

.highlight.agent {
  color: map.get(colors.$verb-highlight-colors, agent);
}

.highlight.patient {
  color: map.get(colors.$verb-highlight-colors, patient);
}

.highlight.agent.patient {
  color: map.get(colors.$verb-highlight-colors, transitive);
}

.root.highlight {
  color: map.get(colors.$other-highlights, 1);
}

.aspect.highlight {
  color: map.get(colors.$other-highlights, 3);
}

.prepronominal_prefix.highlight {
  color: map.get(colors.$other-highlights, 5);
}

.post_aspectual_suffix.highlight {
  color: map.get(colors.$other-highlights, 4);
}

.tmp_affix.highlight {
  color: map.get(colors.$other-highlights, 6);
}

.circle {
  width: fns.em(8);
  height: fns.em(8);
  min-height: fns.em(8);
  min-width: fns.em(8);
  border-radius: fns.em(8);
}
