@use "sass:map";
@use "../utilities/config";
@use "../utilities/functions" as fns;
@use "../layout/spacing";
@use "extends";

$panel-size: 402;
$panel-header-size: 0.25;
$panel-content-size: 0.75;
$panel-adjustment: 0.1;

%panel-header {
  min-height: fns.em($panel-size * $panel-header-size);
  max-height: fns.em($panel-size * $panel-header-size);
  @extend %full-width;
}

.panel {
  max-width: fns.em(map.get(config.$breakpoints, xlarge));

  &__header {
    justify-content: space-between;
    @extend %panel-header;

    &--right {
      @extend %panel-header;
      justify-content: flex-end;
    }

    &--small {
      min-height: fns.em(
        $panel-size * ($panel-header-size - $panel-adjustment)
      );
      max-height: fns.em(
        $panel-size * ($panel-header-size - $panel-adjustment)
      );
      @extend %full-width;
    }

    &--large {
      min-height: fns.em(
        $panel-size * ($panel-header-size + $panel-adjustment)
      );
      max-height: fns.em(
        $panel-size * ($panel-header-size + $panel-adjustment)
      );
      @extend %full-width;
    }

    &--tableview {
      justify-content: space-between;
      display: inline-flex;
      min-height: fns.em(60);
    }
  }

  &__title {
    @extend %title;
    margin: fns.em(10);

    &__underline {
    }
  }

  &__toolbar {
    display: inline;

    &__spinner {
      display: inline-block !important;
      margin-right: fns.em(15);
    }
  }

  &__content {
    max-height: fns.em($panel-size * $panel-content-size);
    min-height: fns.em($panel-size * $panel-content-size);
    overflow-y: auto;

    &--small {
      max-height: fns.em(
        $panel-size * ($panel-content-size - $panel-adjustment)
      );
      min-height: fns.em(
        $panel-size * ($panel-content-size - $panel-adjustment)
      );
    }

    &--large {
      max-height: fns.em(
        $panel-size * ($panel-content-size + $panel-adjustment)
      );
      min-height: fns.em(
        $panel-size * ($panel-content-size + $panel-adjustment)
      );
    }
  }

  &__list {
    margin: 0 fns.em(15);
    display: inline-grid !important;
  }
}

.toolbar {
  width: fit-content;
  z-index: map.get(config.$zindex, ui-button);

  &__tool {
    margin: fns.em(5) !important;
  }
}
