@if (lang$ | async) {
<div class="margin-top-20 full-width centered panel">
  <div class="panel__header container">
    <div class="row">
      <div class="col-sm-12">
        @if (viewableVerbs$ | async) {
        <form class="margin-left-25 font-md">
          <mat-form-field class="margin-bottom-20" [formGroup]="verbForm">
            <input
              autocomplete="off"
              type="text"
              [placeholder]="
                'ww.pages.wordmaker.steps.verb.search-placeholder' | translate
              "
              value=""
              aria-label="Number"
              matInput
              formControlName="search"
            />
          </mat-form-field>
        </form>
        }
      </div>
    </div>
    @if (viewableVerbs$ | async; as viewableVerbs) {
    <div class="row">
      <div class="instructions col-sm-12">
        @switch (viewableVerbs.length) { @default {
        <p>
          {{
            "ww.pages.wordmaker.steps.verb.select-verb-multiple"
              | translate : { number: viewableVerbs.length }
          }}
        </p>
        } @case (1) {
        <p>
          {{ "ww.pages.wordmaker.steps.verb.select-verb-single" | translate }}
        </p>
        } @case (0) {
        <p
          [innerHTML]="
            'ww.pages.wordmaker.steps.verb.no-matching-verbs'
              | translate : { value: searchField.value }
          "
        ></p>
        } }
      </div>
    </div>
    }
  </div>
  @if (viewableVerbs$ | async) {
  <hr class="margin-bottom-50" />
  }
  <div class="panel__content custom-scroll-y">
    @if (viewableVerbs$ | async; as verbs) {
    <mat-chip-listbox class="panel__list">
      @if (verbs.length === 0) {
      <p>
        {{ "ww.pages.wordmaker.steps.verb.try-again" | translate }}
      </p>
      } @for (verb of verbs; track verb) {
      <mat-chip-option
        class="margin-5 bg-white border-accent"
        (click)="onVerbSelect(verb)"
      >
        <span class="centered color-black">{{
          "ww-data.verbs." + verb.tag | translate
        }}</span>
        <mat-icon class="icon-sm margin-left-5" [ngClass]="verb?.classes"
          >brightness_1
        </mat-icon>
      </mat-chip-option>
      }
    </mat-chip-listbox>
    } @else {
    <mat-spinner class="centered"></mat-spinner>
    }
  </div>
</div>
}
