@use "sass:map";
@use "@angular/material" as mat;
@use "utilities/functions" as fns;
@use "utilities/colors";
@use "utilities/typography";
@use "base/scroll";

// ==========================================================================
// $Shame
// @see http://csswizardry.com/2013/04/shame-css/
// Thanks https://github.com/heroheman/shepherd/blob/master/sass/_shame.scss
// ==========================================================================

// ==========================================================================
// because hacks happen.
//
// be very specific about what each piece of code is doing, and
// how to better fix it later
// ==========================================================================

// Try:  $ git blame _shame.scss

// Rules:
// ---------------
//   1. If it’s a hack, it goes in _shame.scss.
//   2. Document all hacks fully:
//   3. What part of the codebase does it relate to?
//   4. Why was this needed?
//   5. How does this fix it?
//   6. How might you fix it properly, given more time?
//   7. Do not blame the developer; if they explained why they had to do it then their reasons are probably (hopefully) valid.
//   8. Try and clean _shame.scss up when you have some down time.

// Example:
// ---------------
// Nav specificity fix.

// Someone used an ID in the header code (`#header a{}`) which trumps the
// nav selectors (`.site-nav a{}`). Use !important to override it until I
// have time to refactor the header stuff.

// .site-nav a { color:#BADA55!important; }

// Hack to add scroll bar to chip list. I didn't want to use ::deep or anything like that, so it goes here.

.mat-mdc-checkbox {
  label {
    line-height: 1em;
  }
}

/****** Mat Chip ******/
// Mat chips have a bunch of annoying default styles when in a list. This overrides that.

.mdc-evolution-chip-set__chips {
  margin: 0 !important;
}

.mat-mdc-chip:not(.mat-mdc-basic-chip) {
  color: colors.$white;
  margin: fns.em(5);
  cursor: pointer;

  &.mat-mdc-chip-selected {
    color: colors.$color-accent;
    margin: fns.em(5);
    cursor: pointer;
  }
}

.mat-mdc-chip:not(.mat-mdc-basic-chip)
  + .mat-mdc-chip:not(.mat-mdc-basic-chip) {
  margin: fns.em(5) !important;
}

// In Angular v15, the chip label and "checkbox" icons are no longer centrally
// aligned.
.mat-mdc-chip-action-label {
  display: flex;
  align-items: center;
}

// Let checkboxes be colored after verbs
//
// TODO(swl) - I'm not certain this is correct, with
// colors.$verb-highlight-color-names it generates mat-red, mat-blue, mat-purple
// instead of the mat-agent, mat-patient, mat-transitive that we would get
// with colors.$verb-highlight-colors.
//
// The source code contains none of the 6 classes above
@each $theme, $color in colors.$verb-highlight-color-names {
  .mat-mdc-checkbox.mat-mdc-checkbox-checked.mat-#{"" + $theme} {
    .mdc-checkbox__background {
      background-color: $color !important;
    }
  }
}

.mat-icon {
  overflow: visible !important;
  @each $name, $value in typography.$font-sizes {
    &.icon-#{$name} {
      height: fns.em($value) !important;
      width: fns.em($value) !important;
      font-size: fns.em($value) !important;
    }
  }
}

// Make toggle group smaller
//
// TODO(swl) - could not find any references to <mat-button-toggle /> maybe
// this is not longer required?
.mat-mdc-button-toggle-label-content {
  line-height: fns.em(30) !important;
  padding: 0 fns.em(16) !important;
}

// TODO(swl) - could not find any references to <mat-button-toggle /> maybe
// this is not longer required?
.mat-mdc-button-toggle-group {
  height: 2em;
  font-size: fns.em(map.get(typography.$font-sizes, sm));

  .mat-mdc-button-toggle-button {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.mat-mdc-checkbox {
  .mdc-label {
    white-space: normal !important;
  }
}

.mat-mdc-menu-panel {
  float: right;
}

// To control the width of the language <mat-select /> element Angular v15
// does not support the `panelWidth`. The following works.
//
// Angular v16 implements panelWidth which might resolve this.
//
.cdk-overlay-pane:has(.language-select) {
  width: 5em !important;
  margin: -2em 0 0 -2em;

  .mat-mdc-option {
    font-size: 14px;
  }
}
