@if (output) { @if (hasAudio) {
<div>
  <span [libEveryVoice]="rawText">
    @for (morpheme of output; track morpheme; let isLast = $last) {
    <span [ngClass]="morpheme[morphType]">{{ morpheme[tier.key] }}</span>
    @if (!isLast) {
    <span class="separator">{{ tier.separator }}</span>
    } }
  </span>
  @if (hasAudio) {
  <lib-every-voice [textToGenerate]="rawText"></lib-every-voice>
  }
</div>
} @if (!hasAudio) {
<div>
  @for (morpheme of output; track morpheme; let isLast = $last) {
  <span [ngClass]="morpheme[morphType]">{{ morpheme[tier.key] }}</span>
  @if (!isLast) {
  <span class="separator">{{ tier.separator }}</span>
  } }
</div>
} }
