@use "@angular/material" as mat;

@mixin ww-logo-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  .animated {
    animation: dash 2s;
    -webkit-animation-fill-mode: forwards;
  }
  @keyframes dash {
    0% {
      // fill: transparent;
    }
    50% {
      // fill: mat.get-color-from-palette($accent);
    }
    100% {
      // fill: mat.get-color-from-palette($primary, default-contrast);
    }
  }
  #svgGroup {
    stroke: mat.m2-get-color-from-palette($accent, default-contrast);
    fill: mat.m2-get-color-from-palette($accent);
  }
}
