@use "@angular/material" as mat;
@use "sass:map";

@mixin ww-logo-component-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $accent: map.get($color-config, "accent");
  $warn: map.get($color-config, "warn");

  .animated {
    animation: dash 2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  @keyframes dash {
    0% {
      // fill: transparent;
    }
    50% {
      // fill: mat-color($accent);
    }
    100% {
      // fill: mat-color($primary, "default-contrast");
    }
  }
  #svgGroup {
    stroke: mat.get-color-from-palette($accent, "default-contrast");
    fill: mat.get-color-from-palette($accent);
  }
}
