@use "@angular/material" as mat;
@use "../../../../scss/utilities/colors";

@mixin ww-tableviewer-component-theme-common($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground-palette: map-get($theme, foreground);

  th.mat-mdc-header-cell {
    border-bottom: 1px solid
      mat.get-color-from-palette($foreground-palette, base);
  }

  th.mat-mdc-header-cell:first-of-type,
  td.mat-mdc-cell:first-of-type,
  td.mat-mdc-footer-cell:first-of-type {
    padding: 0;
    border-right: 1px solid
      mat.get-color-from-palette($foreground-palette, base);
  }

  td.mat-mdc-cell {
    padding: 16px 0;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
  .mat-option-text {
    color: mat.get-color-from-palette($foreground-palette, base);
  }

  // .error__container {
  //   background-color: mat.get-color-from-palette($warn);
  // }

  // .error__header,
  // .error__message {
  //   color: mat.get-color-from-palette($warn, default-contrast);
  // }

  .mat-pseudo-checkbox-checked {
    background-color: mat.get-color-from-palette($accent) !important;
  }
}

@mixin ww-tableviewer-component-theme-dark($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  $background: lighten(
    mat.get-color-from-palette($background-palette, background),
    10%
  );
  $foreground: mat.get-color-from-palette($foreground-palette, base);

  ww-tableviewer {
    .mat-figure,
    .selected-verb-panel {
      background-color: darken($background, 3%);
    }

    .draggable-item {
      border: 1px solid $foreground;
    }

    ww-tableviewer-conj-panel,
    .mat-mdc-table,
    .mat-mdc-paginator {
      background-color: $background;
    }
  }
}

@mixin ww-tableviewer-component-theme-light($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  $background: mat.get-color-from-palette($background-palette, background);
  $foreground: mat.get-color-from-palette($foreground-palette, base);

  .control {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    .mat-form-field-underline {
      background-color: $foreground;
    }
  }

  .control.mat-focused {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    .mat-form-field-underline {
      background-color: transparent;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    .mat-form-field-ripple {
      background-color: $foreground !important;
    }
  }

  ww-tableviewer {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-frame {
      border-color: $foreground !important;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    mat-checkbox {
      label,
      span {
        color: $foreground !important;
      }
    }

    .mat-drawer-container {
      background-color: $foreground !important;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
    .mat-select-arrow,
    mat-label {
      color: $foreground !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    input,
    span {
      color: $foreground;
    }

    .mat-accent {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      label,
      input,
      span {
        color: mat.get-color-from-palette($accent, default-contrast);
      }
    }

    .mat-figure,
    .selected-verb-panel {
      background-color: darken($background, 2%);
    }

    ww-tableviewer-conj-panel,
    .mat-mdc-table,
    .mat-mdc-paginator {
      background-color: $background;
    }
  }
}
