@use "@angular/material" as mat;
@use "sass:map";

@mixin ww-tableviewer-component-theme-common($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $accent: map.get($color-config, "accent");
  $warn: map.get($color-config, "warn");
  $foreground-palette: map.get($color-config, "foreground");

  $foreground: mat.get-color-from-palette($foreground-palette, "base");
  th.mat-mdc-header-cell {
    border-bottom: 1px solid $foreground;
  }

  th.mat-mdc-header-cell:first-of-type,
  td.mat-mdc-cell:first-of-type,
  td.mat-mdc-footer-cell:first-of-type {
    padding: 0;
    border-right: 1px solid $foreground;
  }

  td.mat-mdc-cell {
    padding: 16px 0;
  }

  .mat-mdc-option {
    border-color: $foreground !important;

    .mdc-list-item__primary-text {
      color: $foreground !important;
    }

    .mat-pseudo-checkbox-checked {
      background-color: mat.get-color-from-palette($accent) !important;
    }
  }

  // .error__container {
  //   background-color: mat.get-color-from-palette($warn);
  // }

  // .error__header,
  // .error__message {
  //   color: mat.get-color-from-palette($warn, "default-contrast");
  // }
}

@mixin ww-tableviewer-component-theme-dark($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $accent: map.get($color-config, "accent");
  $warn: map.get($color-config, "warn");
  $background-palette: map.get($color-config, "background");
  $foreground-palette: map.get($color-config, "foreground");

  $background: lighten(
    mat.get-color-from-palette($background-palette, "background"),
    10%
  );
  $foreground: mat.get-color-from-palette($foreground-palette, "base");

  ww-tableviewer {
    .mat-figure,
    .selected-verb-panel {
      background-color: darken($background, 3%);
    }

    .draggable-item {
      border: 1px solid $foreground;
    }

    ww-tableviewer-conj-panel,
    .mat-mdc-table,
    .mat-mdc-paginator {
      background-color: $background;
    }
  }
}

@mixin ww-tableviewer-component-theme-light($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $accent: map.get($color-config, "accent");
  $warn: map.get($color-config, "warn");
  $background-palette: map.get($color-config, "background");
  $foreground-palette: map.get($color-config, "foreground");

  $background: mat.get-color-from-palette($background-palette, "background");
  $foreground: mat.get-color-from-palette($foreground-palette, "base");

  .control {
    .mdc-line-ripple::before {
      border-bottom-color: $foreground;
    }
    .mdc-line-ripple::after {
      border-bottom-color: $foreground;
    }

    &.mat-focused {
      .mdc-line-ripple::before {
        border-bottom-color: transparent;
      }
      .mdc-line-ripple::after {
        border-bottom-color: $foreground;
      }
    }
  }

  ww-tableviewer {
    .mat-mdc-checkbox {
      label,
      span {
        color: $foreground !important;
      }
    }

    .mat-drawer-container {
      background-color: $foreground !important;
    }

    .mat-mdc-select-arrow {
      color: $foreground !important;
    }

    .mat-mdc-form-field {
      .mdc-floating-label {
        color: $foreground !important;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    input,
    span {
      color: $foreground;
    }

    .mat-accent {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      label,
      input,
      span {
        color: mat.get-color-from-palette($accent, "default-contrast");
      }
    }

    .mat-figure,
    .selected-verb-panel {
      background-color: darken($background, 2%);
    }

    ww-tableviewer-conj-panel,
    .mat-mdc-table,
    .mat-mdc-paginator {
      background-color: $background;
    }
  }
}
